section{
  /* background-image: url("../../../assets/golden_image.jpg"); */
  /* background-image: background: rgb(123,119,172); */
  background: linear-gradient(180deg, rgba(123,119,172,1) 1%, rgba(242,242,73,1) 97%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
}

.wordsExist{
  height: max-content;
}
.resultCard{
  height: 100vh;
}

.game {
  margin: 5%;
  scrollbar-width:thin;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ack{
  display: none;
  position: absolute;
  top: 40%;
  left: 42%;
}

.ack > div{
  display: flex;
  gap: 10px;
  font-size: 1.5em;
  color: #f7f7f7;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 100px;
}

.word {
  flex: 1 0 16%;
  background-color: #f7f7f7;
  border: solid 2px #C9B167;
  text-align: center;
  margin: 10px;
  box-shadow: 2px 2px 6px #000000;
  background-image: url("../../../assets/golden_image_for_words.jpg");
}

.nextgame {
  /* position: absolute; */
  /* right: 0; */
  /* left: 95; */
  border: 1px solid #ddd;
  background-color: rgb(155, 255, 155);
  padding: 10px;
}

.next-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blueWon{
  background-color: rgb(72, 72, 255);
  color: white;
  
}

.redWon{
  background-color: rgb(255, 107, 107);
  color: white
}

::ng-deep .mat-button-toggle.selected {
  background-color: green !important;
}

.game-info-btn{
  margin-left: 20px;
  height: 100%;
}

.room-info{
  font-weight: bold;
  background-color: rgb(177, 172, 239);
  width: 36%;
  justify-content: space-between;
  align-items: center;
}

.game-info-btn:hover{
  height: 100%;
  cursor: pointer !important;
  background-color: #fef9c2 !important;
}
.room-info-txt{
  margin-left: 10px;
  color: white;
}

.start-btn{
  display: flex;
  justify-content: center;
}

.start-btn button{
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  background-color: #f7f7f7;
  background-color: #fef9c2;
}

.start-btn button:hover{
  background-color: #fdf382;
}

.scoreboard {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 10px;
}

.bluescore-board,
.redscore-board {
  background-color: white;
  background-color: #fef9c2;
}

.score{
  display: grid;
  padding: 10px;
}

.score-var{
  font-size: 1.5em;
  text-align: center;
}

.divider{
  background-color: white;
  background-color: #fef9c2;
  border: 1px solid #333;

}

.misc{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}