<div class="d-flex justify-content-around align-items-center">
  <div class="box">
    <button mat-raised-button class="btn btn-primary" (click)="joinGame()">Join game</button>  
    <input matInput placeholder="Game ID" [(ngModel)]="gameId" />
  </div>
  <div class="box">
    <button mat-raised-button (click)="createGame()">Create game</button>
  </div>
</div>


<footer>
  <div class="container">
      <div class="row">
      <div class="col-md-12">
          <p>© 2018 - Angular 6 CRUD Application</p>
      </div>
      </div>
  </div>
</footer>