
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.my-snackbar {
  position: absolute !important;
  top: 50 !important;
  left: 50 !important;
  z-index: 100 !important;
  color: black !important;
}
.mat-mdc-snack-bar-container{
  background: none;
}
.mat-mdc-snack-bar-container .mdc-snackbar__label,
.mat-mdc-snack-bar-container .mdc-snackbar__surface  {
  color: white !important;
  background-color: #B1ACEF !important;
}